###> PhpStorm ###
.idea

###> symfony/framework-bundle ###
app/.env.local
app/.env.local.php
app/.env.*.local
app/config/secrets/prod/prod.decrypt.private.php
app/public/bundles/
/app/var/
app/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
app/public/assets/
app/assets/vendor/

###> friendsofphp/php-cs-fixer ###
/app/.php-cs-fixer.php
/app/.php-cs-fixer.cache
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

/app/.phpunit.cache/
/app/tmp/
/app/.phpunit.result.cache
