{% extends 'home/home.layout.html.twig' %}

{% block content %}
    <div class="row">
        <table class="table-responsive">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">Starship Class</th>
                <th scope="col">Consumables</th>
                <th scope="col">Cost</th>
                <th scope="col">Crew</th>
                <th scope="col">Passengers</th>
                <th scope="col">Hyperdrive Reating</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}